<%- include("../partials/header")%>
<%- include("../partials/navbar")%>
<div class="text-center mt-5 mp-4">
<h2>Hi, Welcome to Super Team Picker</h2>
<h4 class="mb-4">This app lets you create a team for your cohort</h4>


<div class="container col-6 sm-col-6 icons bg-light ">
    <div class="d-flex sm-6 justify-content-center">
 <div class="people d-flex fade-in">
    <div class="shapes d-flex flex-column"> 
        <p class="dot mt-4"></p>
        <p class="square rounded-top"></p>
        
    </div>
    <div class="shapes d-flex flex-column shape2"> 
        <p class="dot mt-4"></p>
        <p class="square rounded-top"></p>
    </div>
    <div class="shapes d-flex flex-column shape3"> 
        <p class="dot mt-4"></p>
        <p class="square rounded-top"></p>
    </div>
 </div>
 <div class="people d-flex fade-in-2">
    <div class="shapes d-flex flex-column"> 
        <p class="dot mt-4"></p>
        <p class="square rounded-top"></p>
    </div>
    <div class="shapes d-flex flex-column shape2"> 
        <p class="dot mt-4"></p>
        <p class="square rounded-top"></p>
    </div>
    <div class="shapes d-flex flex-column shape3"> 
        <p class="dot mt-4"></p>
        <p class="square rounded-top"></p>
    </div>
 </div>
 <div class="people d-flex fade-in-3">
    <div class="shapes d-flex flex-column"> 
        <p class="dot mt-4"></p>
        <p class="square rounded-top"></p>
    </div>
    <div class="shapes d-flex flex-column shape2"> 
        <p class="dot mt-4"></p>
        <p class="square rounded-top"></p>
    </div>
    <div class="shapes d-flex flex-column shape3"> 
        <p class="dot mt-4"></p>
        <p class="square rounded-top"></p>
    </div>
 </div>
</div>
<div class="d-flex teams sm-6">
    <p class="text-center m-1 h1">TEAM &nbsp;A&nbsp;&nbsp;</p>
    <p class="text-center m-1 h1">TEAM &nbsp;B&nbsp;&nbsp;</p>
    <p class="text-center m-1 h1">TEAM &nbsp;C&nbsp;&nbsp;</p>
</div>
</div>

<div class="mt-4">
    <h5>
        To create a new cohort click on NewCohort
    </h5>
    <h5>
        To view existing cohorts click on Cohorts
    </h5>
</div>
<!-- <h4>To get started, click on the New Cohort Tab. </h4> -->

<%- include("../partials/footer")%>